@font-face {
  font-family: "IndieFlower";
  src: url(../fonts/IndieFlower.ttf);
}

.contenedor {
  padding: 0px 10px 10px 10px;
}

.filaSuperior {
  padding-bottom: 10px;
  margin: 0px !important;
}

.colLogo {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  min-height: 100px !important;
}

.logo {
  margin: 0px !important;
}

.filaNavegacion {
  margin-bottom: 5px !important;
}
.colNavegacion {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav {
  box-shadow: none;
  background: none;
}

.colSlogan {
  font-family: "IndieFlower";
  font-size: 3rem;
  color: white;
}

.colRedes {
  border-radius: 10px;
  padding: 5px !important;
}

.iconoRedSocial {
  width: 80%;
  margin: 10%;
}

.card-title {
  font-family: "IndieFlower";
  font-size: 2.5rem !important;
  font-weight: bold !important;
}

.contenidoArticulo {
  margin-bottom: 0px !important;
  border-radius: 10px 10px 0px 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.formComentario {
  margin-top: 0px !important;
    border-radius: 0px 0px 10px 10px;
}

.formComentario h5 {
  font-family: "IndieFlower";
}

.cardPanelInfoAutor {
  border-radius: 10px;
}

.nombre-autor {
  font-family: "IndieFlower";
}

.texto-autor {
  text-align: center;
}

@media (max-width:1000px) {
  .colSlogan {
    font-size: 2.5rem;
  }
}

@media (max-width: 840px) {
  .colSlogan {
    font-size: 1.7rem;
  }
}

@media (max-width:600px) {
  .logo {
    max-height: 100px;
    margin: 0px auto !important;
  }

  .colSlogan {
    font-size: 1.5rem;
  }
}

@media (max-width:383px) {
  nav ul li a{
    padding: 0px 5px !important;
    font-size: 0.9rem;
  }

  .colNavegacion {
      margin: 0px !important;
  }
}

img.responsive-img:hover, video.responsive-video {
  -webkit-transform: rotate(365deg);transform: rotate(365deg);
}

.card .card-content p {
  margin: 0;
  color: inherit;
  text-align: justify;
}